@import url('https://fonts.googleapis.com/css?family=Pirata+One|Bilbo+Swash+Caps&display=swap');

@font-face {
    font-family: Morris;
    src: url(https://cdn.statically.io/gh/EmmesCodes/Tipografias/dae9f5bb/MorrisInitials.ttf);
}

:root {
    --fontSize: calc((1vw + 1vh) * .75);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#parch {
    font: var(--fontSize)/200% 'Bilbo Swash Caps', cursive;
    background-size: cover;
}

#parchment-font {
    font: var(--fontSize)/200% 'Bilbo Swash Caps', cursive;
}

main {
    position: relative;
    width: 100%;
    height: 60.8vh;
}

#parchment {
    position: absolute;
    display: flex;
    width: 93%;
    height: 62vh;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 2em 0;
    padding: 4em;
    box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
    background: #fffef0;
    filter: url(#wavy2);
}

main p {
    font-size: 2.25em;
    color: #7F3300;
    margin-top: 1.1em;
    text-align: justify;
}



#contain {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 4em;
}